<html>
    <body>
        <h1>Movies create</h1>
        <%= flash[:alert] %>

        <form action="/admin/movies" method="post">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />

            <label for="name">映画タイトル：</label>
            <input type="text" name="name" size="40"><br/>
            
            <label for="year">公開年：</label>
            <input type="text" name="year" size="40"><br/>
            
            <label for="is_showing" id="switch">上映中か：</label>
            <input type="checkbox" id="scales" name="is_showing" checked>
            <span class="title">公開予定</span><br/>
            
            <label for="description">概要：</label>
            <textarea name="description" rows="4" cols="40"></textarea><br/>
            
            <label for="image_url">画像URL：</label>
            <input type="text" name="image_url" size="40"><br/>

            <input type="reset" value="Close">
            <input type="submit" value="Save">
        </form>
    </body>

    <script type="text/javascript">
        const checkbox = document.getElementById('switch');
        checkbox.addEventListener('click', () => {
            const title = document.querySelector('.title');
            title.textContent = checkbox.checked ? '上映中' : '公開予定';
        });
    </script>
</html>